.inputContents{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: #8758ff;
    height: 35px;
    padding: 10px 20px;
    border-radius: 10px;
    width: 400px;
}

.listInput{
    width: 15px;
    cursor: pointer;
}

.listLabel{
    font-size: 18px;
    width: 100%;
    color: white;
}

.deleteInput:hover{
    cursor: pointer;
}